.container-footer {
    
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color de texto asegurado */
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    z-index: 1000;
    height: auto;
}

.content.footer {
    
    max-width: 1100px;
    margin: 0 auto;
    
}

.container-ulista {
    list-style: none;
    padding: 0;
    
}

.container-lista {
    color: aliceblue; /* Color de texto asegurado */
    margin: 10px 0;
    font-size: 14px;
    
}

/* Estilos responsive */
@media (max-width: 768px) {
    .container-footer {
        height: auto; /* Deja que la altura se ajuste automáticamente */
        width: auto; /* Asegura que ocupe todo el ancho */
        padding: 20px; /* Asegura que el padding se mantenga */
        background-color: #333; /* Asegura el fondo oscuro */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-ulista {
        display: flex;
        flex-direction: column;
        background-color: #333; /* Color de fondo oscuro */

    }

    .container-lista {
        font-size: 17px; /* Texto más pequeño para pantallas pequeñas */
        color: white; /* Asegura que el color del texto sea visible */
    }
}