:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0; /* Elimina márgenes por defecto */
  position: relative; /* Necesario para el pseudo-elemento */
}

body::before {
  content: ""; /* Necesario para crear el pseudo-elemento */
  position: fixed; /* Fijo para que cubra toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("imgBody/internet-3116062_1280.jpg");
  background-size: cover; /* Ajusta la imagen para cubrir toda la página */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el contenedor */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo negro con opacidad */
  z-index: -1; /* Coloca el fondo detrás de todo el contenido */
}

.content {
  position: relative; /* Permite que el contenido esté por encima del pseudo-elemento */
  z-index: 1; /* Asegúrate de que el contenido esté encima */
}